#row {
  align-content: "center;";
}

li {
  list-style: none;
  margin: 10px;
}

label {
  width: 150px;
  text-align: right;
  font-weight: bold;
}

form {
  border: solid;
}

/* --------BUTTONS ----------*/
#signUpButton {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 3px;
  border: none;
  cursor: pointer;
  width: 40%;
  border: solid black;
}

#clearContentBtn {
  background-color: lightgray;
  color: black;
  padding: 14px 20px;
  margin: 8px 3px;
  border: none;
  cursor: pointer;
  width: 40%;
  border: solid black;
}
