body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

a {
  color: #00b7ff;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs NEED TO EDIT THIS AS IT IS EFFECTING ALL FORMS*/
#loginContainerDiv input[type="text"],
#loginContainerDiv input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* --------BUTTONS ----------*/
#loginButton {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#incomeButton,
#actualCardSubmit,
#budgetCardSubmit {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

#deleteIncomeButton {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

#actualFormPostDiv,
#actualItemsForm,
#budgetItemsForm {
  background-color: slategray;
  padding: 7px 10px;
  margin: 8px 0;
}
/* Card Styling */
.deleteForm,
.actualCard {
  border-radius: 0.75;
  border: outset black;
  width: 31.333%;
}

/* --------SECTIONS ----------*/

#userIncomePost {
  background-color: lightgray;
  padding: 7px 10px;
  margin: 8px 0;
  text-align: center;
}

#loginContainerDiv {
  font-size: 16px;
  vertical-align: center;
}

.tax {
  align-content: space-between;
  padding: 7px 10px;
  margin: 8px 0;
  text-align: center;
  width: 24%;
}

input:focus {
  background-color: lightblue;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
